@model GerenciadorDespecas.ViewModels.EstatisticaViewModel



<div>
    <p>Despesas cadastradas : @Model.QuantidadeDespesas</p>
    <p>Menor despesas : @Model.MenorDespesa</p>
    <p>Maior despesas : @Model.MaiorDespesa</p>
</div>